body {
    background-color:black;
    color:white;
    width:auto;
}
* {
  box-sizing:border-box;
  margin:0;
  padding:0;
}
header {
margin-left:20px;
}
nav {
    
}
nav a {
    
    }

ul {

}
ol > li {
    float:left  ;
    margin:10px 0px 0px 20px;
    text-align:left;
    padding-left:10px;
    text-decoration:none;
    text-decoration-style:none;
    }
div{
    clear:left;
   width:80%;
   border:3px solid lightgreen;
   margin:0% 5% 5% 5%;
   padding:10px;
   }
h1{
    text-align:center;
    font-family:'Times New Roman';
    font-size:40px;
}
h2{
    text-align:right;
   border-style:solid;
   border-color: lightgreen;
   
   
}
p{
    font-size:20px;
    font-family:Verdana,Arial;
    text-align:center;
   
}